@import "tailwindcss";
/* src/components/Sidebar.css */
.sidebar {
  width: 200px;
  background: #222d3a;
  color: white;
  height: 100vh;
  padding: 20px 0;
  position: fixed;
}

.sidebar h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  font-size: 1.1rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar a.active {
  font-weight: bold;
}
